extends layout

block content

    <h1 align="center"; style="font-size: 46px; color: white"> Книжный магазин </h1>
 
    <body background="https://i.pinimg.com/564x/5b/5a/00/5b5a0024129839d6f3777f0cb869877b.jpg">
    <h2 align="center"; style="font-size: 20px; color: white"> Виртуальный онлайн-магазин, позволяющий выбрать книги на любой вкус</h2>
    <h3 align="left"; style="font-size: 16px; color: white"> Backend: Цю-Жен-Цин Дмитрий</h3>
    <h4 align="left"; style="font-size: 16px; color: white"> Frontend: Логинова Анастасия</h4>  
    <h5><img height='400' width='270' src="https://i.pinimg.com/564x/45/31/96/453196475db89b918aa7e7ed0cf1b76e.jpg">   <img height='400' width='270' src="https://i.pinimg.com/564x/45/31/96/453196475db89b918aa7e7ed0cf1b76e.jpg">   <img height='400' width='270' src="https://i.pinimg.com/564x/45/31/96/453196475db89b918aa7e7ed0cf1b76e.jpg">   <img height='400' width='270' src="https://i.pinimg.com/564x/45/31/96/453196475db89b918aa7e7ed0cf1b76e.jpg">   </h5>
    <p>
  
        div
            <a href='/task/new'; style="font-size: 26px; color: white" > Вперед </a>